@model BookViewModel

     
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>@Model.Name</h1>
                <h1>@Model.Author</h1>
                <h1>@Model.Year</h1>
                <h1>@Model.Description</h1>
            </div>
        </div>
    </div>

